

/* @group misc */
.outgoing .bubble .compact .cbody {
	border-top: 1px solid #cd6ff2;
}
.outgoing .bubble .time {
	color: #d976ff;
	text-shadow: #d976ff 0 0 5px;
}
.bubble .body a, .bubble .cbody a {
	color: #1c1cbf;
}
/* @end */


/* @group top */
.outgoing .bubble .t {
	background: 
		url("../../images/glass-purple/topleft.png") top left no-repeat,
		url("../../images/glass-purple/topright.png") top right no-repeat;
}
	.outgoing .bubble .t div {
		background: 
			url("../../images/glass-purple/top.png") top left repeat-x;
	}
/* @end */


/* @group left-right */
.outgoing .bubble .lr {
	background: 
		url("../../images/glass-purple/left.png") top left repeat-y,
		url("../../images/glass-purple/right.png") top right repeat-y;
}
	.outgoing .bubble .lr div {
		background: url("../../images/glass-purple/middle.png") top left repeat;
	}
/* @end */


/* @group bottom */
.outgoing .bubble .b {
	background: 
		url("../../images/glass-purple/bottomleft.png") bottom left no-repeat,
		url("../../images/glass-purple/bottomright-arrow.png") bottom right no-repeat;
}
	.outgoing .bubble .b div {
		background: 
			url("../../images/glass-purple/bottom.png") bottom left repeat-x;
	}
/* @end */


/* @group reflection */
.outgoing .bubble .r {
	opacity: 0.25;
	background: 
		url("../../images/glass-purple/ref-bottomleft.png") bottom left no-repeat,
		url("../../images/glass-purple/ref-bottomright-arrow.png") bottom right no-repeat;
}
	.outgoing .bubble .r div {
		background: 
			url("../../images/glass-purple/ref-bottom.png") bottom left repeat-x;
	}
/* @end */
