

/* @group misc */
.incoming .bubble .compact .cbody {
	border-top: 1px solid #eb4965;
}
.incoming .bubble .time {
	color: #ff506e;
	text-shadow: #ff506e 0 0 5px;
}
.bubble .body a, .bubble .cbody a {
	color: #1c1cbf;
}
/* @end */


/* @group top */
.incoming .bubble .t {
	background: 
		url("../../images/glass-red/topleft.png") top left no-repeat,
		url("../../images/glass-red/topright.png") top right no-repeat;
}
	.incoming .bubble .t div {
		background: 
			url("../../images/glass-red/top.png") top left repeat-x;
	}
/* @end */


/* @group left-right */
.incoming .bubble .lr {
	background: 
		url("../../images/glass-red/left.png") top left repeat-y,
		url("../../images/glass-red/right.png") top right repeat-y;
}
	.incoming .bubble .lr div {
		background: url("../../images/glass-red/middle.png") top left repeat;
	}
/* @end */


/* @group bottom */
.incoming .bubble .b {
	background: 
		url("../../images/glass-red/bottomleft-arrow.png") bottom left no-repeat,
		url("../../images/glass-red/bottomright.png") bottom right no-repeat;
}
	.incoming .bubble .b div {
		background: 
			url("../../images/glass-red/bottom.png") bottom left repeat-x;
	}
/* @end */


/* @group reflection */
.incoming .bubble .r {
	opacity: 0.25;
	background: 
		url("../../images/glass-red/ref-bottomleft-arrow.png") bottom left no-repeat,
		url("../../images/glass-red/ref-bottomright.png") bottom right no-repeat;
}
	.incoming .bubble .r div {
		background: 
			url("../../images/glass-red/ref-bottom.png") bottom left repeat-x;
	}
/* @end */
