

/* @group misc */
.outgoing .bubble .compact .cbody {
	border-top: 1px solid #ed5ac8;
}
.outgoing .bubble .time {
	color: #ff60d7;
	text-shadow: #ff60d7 0 0 5px;
}
.bubble .body a, .bubble .cbody a {
	color: #1c1cbf;
}
/* @end */


/* @group top */
.outgoing .bubble .t {
	background: 
		url("../../images/glass-pink/topleft.png") top left no-repeat,
		url("../../images/glass-pink/topright.png") top right no-repeat;
}
	.outgoing .bubble .t div {
		background: 
			url("../../images/glass-pink/top.png") top left repeat-x;
	}
/* @end */


/* @group left-right */
.outgoing .bubble .lr {
	background: 
		url("../../images/glass-pink/left.png") top left repeat-y,
		url("../../images/glass-pink/right.png") top right repeat-y;
}
	.outgoing .bubble .lr div {
		background: url("../../images/glass-pink/middle.png") top left repeat;
	}
/* @end */


/* @group bottom */
.outgoing .bubble .b {
	background: 
		url("../../images/glass-pink/bottomleft.png") bottom left no-repeat,
		url("../../images/glass-pink/bottomright-arrow.png") bottom right no-repeat;
}
	.outgoing .bubble .b div {
		background: 
			url("../../images/glass-pink/bottom.png") bottom left repeat-x;
	}
/* @end */


/* @group reflection */
.outgoing .bubble .r {
	opacity: 0.25;
	background: 
		url("../../images/glass-pink/ref-bottomleft.png") bottom left no-repeat,
		url("../../images/glass-pink/ref-bottomright-arrow.png") bottom right no-repeat;
}
	.outgoing .bubble .r div {
		background: 
			url("../../images/glass-pink/ref-bottom.png") bottom left repeat-x;
	}
/* @end */
