

/* @group misc */
.incoming .bubble .compact .cbody {
	border-top: 1px solid #00ec35;
}
.incoming .bubble .time {
	color: #00ff3a;
	text-shadow: #00ff3a 0 0 5px;
}
.bubble .body a, .bubble .cbody a {
	color: #1c1cbf;
}
/* @end */


/* @group top */
.incoming .bubble .t {
	background: 
		url("../../images/glass-green/topleft.png") top left no-repeat,
		url("../../images/glass-green/topright.png") top right no-repeat;
}
	.incoming .bubble .t div {
		background: 
			url("../../images/glass-green/top.png") top left repeat-x;
	}
/* @end */


/* @group left-right */
.incoming .bubble .lr {
	background: 
		url("../../images/glass-green/left.png") top left repeat-y,
		url("../../images/glass-green/right.png") top right repeat-y;
}
	.incoming .bubble .lr div {
		background: url("../../images/glass-green/middle.png") top left repeat;
	}
/* @end */


/* @group bottom */
.incoming .bubble .b {
	background: 
		url("../../images/glass-green/bottomleft-arrow.png") bottom left no-repeat,
		url("../../images/glass-green/bottomright.png") bottom right no-repeat;
}
	.incoming .bubble .b div {
		background: 
			url("../../images/glass-green/bottom.png") bottom left repeat-x;
	}
/* @end */


/* @group reflection */
.incoming .bubble .r {
	opacity: 0.25;
	background: 
		url("../../images/glass-green/ref-bottomleft-arrow.png") bottom left no-repeat,
		url("../../images/glass-green/ref-bottomright.png") bottom right no-repeat;
}
	.incoming .bubble .r div {
		background: 
			url("../../images/glass-green/ref-bottom.png") bottom left repeat-x;
	}
/* @end */
